<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <akka>
    <hocon>
      <![CDATA[
					akka {     
            actor.provider = cluster
            remote {
                dot-netty.tcp {
                    port = 0
                    hostname = localhost
                }
            }
            
            actor {
                 serializers {
                     akka-pubsub = "Akka.Cluster.Tools.PublishSubscribe.Serialization.DistributedPubSubMessageSerializer, Akka.Cluster.Tools"
                 }
                 serialization-bindings {
                     "Akka.Cluster.Tools.PublishSubscribe.IDistributedPubSubMessage, Akka.Cluster.Tools" = akka-pubsub
                     "Akka.Cluster.Tools.PublishSubscribe.Internal.SendToOneSubscriber, Akka.Cluster.Tools" = akka-pubsub
                 }
                 serialization-identifiers {
                     "Akka.Cluster.Tools.PublishSubscribe.Serialization.DistributedPubSubMessageSerializer, Akka.Cluster.Tools" = 9
                 }
            }
            
            cluster {
             seed-nodes = ["akka.tcp://calculation@localhost:4053"] # address of seed node
             roles = ["calculation"] # roles this member is in
             # role.["crawler"].min-nr-of-members = 3 # crawler role minimum node count
                          
           }
          
          
    
          }
       }
          ]]>
    </hocon>
  </akka>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.4.0.0" newVersion="3.4.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>